<section class="margin_top mb-5">
    <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-4 banner__col4">
        <div class="banner__content">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
            recusandae, quidem laudantium ipsa laborum nesciunt ea non
            commodi ducimus!
            </p>
        </div>
        </div>
        <div class="col-lg-8 banner__col8">
        <div class="banner__image">
            <div
            id="carouselExampleSlidesOnly"
            class="carousel slide"
            data-bs-ride="carousel"
            >
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <%= image_tag ('1.jpeg'), class:"d-block w-100", alt:"..."%>
                </div>
                <div class="carousel-item">
                    <%= image_tag ('2.jpeg'), class:"d-block w-100", alt:"..."%>
                </div>
                <div class="carousel-item">
                    <%= image_tag ('3.jpeg'), class:"d-block w-100", alt:"..."%>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>
<section class="my-5">
    <div class="container">
    <div class="card box__card">
        <div class="card-body">
        <div class="row text-center">
            <div class="col-lg-3">
            <i class="fa-solid fa-gem"></i>
            <p>Quality</p>
            </div>
            <div class="col-lg-3">
            <i class="fa-solid fa-user"></i>
            <p>Professional</p>
            </div>
            <div class="col-lg-3">
            <i class="fa-solid fa-star"></i>
            <p>Experienced</p>
            </div>
            <div class="col-lg-3">
            <i class="fa-solid fa-check"></i>
            <p>Trustworthy</p>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>
<section>
    <div class="container">
    <div class="row">
        <div class="col-lg-6 banner__col4">
        <div class="banner__content1">
            <span>About The Company</span>
            <h2>We are builders in St Albans with 15+ Years Of Experience</h2>
            <p>
            Established in St Albans, and with many years experience in the
            Building trade, Oliver Building Services Ltd are a professional,
            reliable and fully accredited company operating in St Albans and
            the wider area.
            </p>
            <a
            href="<%= pages_contact_path %>"
            class="btn btn-outline-success mt-4"
            >Get a Quote</a
            >
        </div>
        </div>
        <div class="col-lg-6 banner__col8">
        <div class="banner__image1"></div>
        </div>
    </div>
    </div>
</section>
<section class="my-5">
    <%= image_tag ('divide.jpg'), class:"img-fluid", alt:"" %>
</section>
<section class="my-5">
    <div class="container">
    <div class="row">
        <div class="col-lg-6">
        <div class="banner__img2">
            <div class="side__box">
            <h2>Areas We Cover</h2>
            <ul class="side-list">
                <li>St Albans</li>
                <li>Hatfield</li>
                <li>Hemel Hempstead</li>
                <li>Welham Green</li>
                <li>Redbourn</li>
                <li>Watford</li>
                <li>Borehamwood</li>
            </ul>
            </div>
        </div>
        </div>
        <div class="col-lg-6">
        <div class="banner__content2">
            <h2>Professional Builders in St Albans</h2>
            <p>
            Here at Oliver Building Services Ltd we have built up an
            excellent reputation in our local area by offering the most
            comprehensive and expert Building service in St Albans.
            </p>
            <p>
            From the planning stage to the finished article; we are with you
            every step of the way, making sure that whatever the task, you
            are completely satisfied with the end result. You can also rest
            assured that you will be receiving a professional, yet personal
            service for each job that we attend.
            </p>
            <h3>Company Ethos</h3>
            <p>
            Here at Oliver Building Services Ltd, we strive to be a Building
            company you can always rely on. Where our work is renowned for
            being both of the highest quality while being excellent value
            for money. We have a strong belief that all great companies are
            built on a solid base of satisfied clients, so customer
            satisfaction plays a huge role in the way we operate.
            </p>
            <p>
            With so many years working in the Building trade, we are happy
            to answer any queries and provide quotes for any work that you
            are looking to have done. If you are in need of any Building
            work in St Albans or the surrounding areas, then give Oliver
            Building Services Ltd a call on 07847 587229, or send us a
            message through our contact page.
            </p>
            <a class="btn btn-outline-success" href="<%= pages_contact_path %>"
            >Visit Contact Page</a
            >
        </div>
        </div>
    </div>
    </div>
</section>
<section class="my-4">
    <div class="container">
    <div class="row">
        <div class="col-lg-6 gall__row">
        <div>
            <%= image_tag ('4.jpeg'), class:"img-fluid", alt:"" %>
        </div>
        <div>
            <%= image_tag ('5.jpeg'), class:"img-fluid", alt:"" %>
        </div>
        </div>
        <div class="col-lg-6 gall__row1">
            <%= image_tag ('6.jpeg'), class:"img-fluid", alt:"" %>
        </div>
    </div>
    <div class="row gall__row2">
        <div class="col-lg-3">
            <%= image_tag ('7.jpeg'), class:"img-fluid", alt:"" %>
        </div>
        <div class="col-lg-3">
            <%= image_tag ('8.jpeg'), class:"img-fluid", alt:"" %>
        </div>
        <div class="col-lg-3">
            <%= image_tag ('9.jpeg'), class:"img-fluid", alt:"" %>
        </div>
        <div class="col-lg-3">
            <%= image_tag ('10.jpeg'), class:"img-fluid", alt:"" %>
        </div>
    </div>
    </div>
</section>