<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">Construction Company</a>
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="<%= root_path %>" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="<%= root_path %>" class="nav-link">Portfolio</a>
        </li>
        <li class="nav-item">
          <a href="<%= root_path %>" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="<%= pages_contact_path %>" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand navbar-light sub__navbar">
  <div class="container">
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="mailto:abc@gmail.com" class="nav-link"
            >abc@gmail.com</a
          >
        </li>
        <li class="nav-item">
          <a href="tel:1234567890" class="nav-link">1234567890</a>
        </li>
      </ul>
    </div>
  </div>
</nav>